.RootPanel {
	width:100%;
	height:100%;
	flow-children:down;
	color:orange;
	font-size:50px;
}

.HeaderPanel {
	width:100%;
	height:10%;
	background-color:red;
}

.HeaderPanel Label {
	font-size:90px;
	font-weight:bold;
}

.ContentPanel {
	flow-children:right;
	width:100%;
	height:90%;
}

.SpawnerPanel {
	flow-children:down;
}

.SpawnerPanelHeader {
	font-size:60px;
	width:100%;
}

.SpawnerPanelHeader > Label {
	background-color:red;
	width:100%;
	padding:10px;
}

.ListPanel {
	flow-children:down;
	width:100%;
	background-color: green;
}

.ListPanel > Panel {
	width:100%;
}

.ListPanel > Label {
	width:100%;
}
.ListPanel > Panel:hover {
	background-color:purple;
}

.ListPanel > Panel > Label  {
	padding:1px;
}

.ListPanel > Panel > .AmountCounters {
	text-align:right;
	width:100%;
}
.SelectedItem {
	background-color:violet;
}

.SpawnerPanel {
	width:60%;
	height:100%;
}

.PreviewPanel {
	width:40%;
	height:100%;
	background-color: cyan;
	flow-children:down;
}

.PreviewPanel > .PreviewTitle {
	font-size:60px;
	font-weight:bold;
	text-align:center;
	width:100%;
	height:6%;
}

.PreviewPanel > .PreviewImagePanel {
	background-color:pink;
	width:100%;
	height:69%;
}

.PreviewImagePanel Image {
	vertical-align: center;
	horizontal-align: center;
	height:65%;
	padding:10%;
}

.PreviewPanel > .EditButtonsPanel {
	background-color:red;
	width:100%;
	height:25%;
	flow-children:right;
	padding:20px;
}

.EditButtonsPanel > Panel {
	vertical-align:center;
}

.EditButton > Label {
	width:100%;
	height:100%;
	padding:10px;
	text-align:center;
}

.EditButtonsPanel > .EditButton {
	background-color: blue;
	width:75px;
	height:75px;
}

.EditButtonsPanel > .PreviewCounterPanel {
	width:200px;
	background-color:green;
	text-align:center;
	margin-left:10px;
}

.EditButtonsPanel > .PreviewCounterPanel > Label {
	font-size:150px;
	font-weight: bold;
	text-align:center;
	width:100%;

}

.EditButton.Add {
	margin-left:10px;
}

.EditButton:hover {
	opacity:0.75;
}


